button{
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f6e8e8;
    border-radius: 5px;
    border: solid 1px #cfcfcf;
}


button:hover{
    background-color: #ece0e0;
}

h4{
  text-align: start;
}

.line{
  display: flex;
  flex-direction: row;
  gap: 10px;
/*  align-items: center;*/
}

.line span{
  font-size: 1.3em;
}

.files{
  display: flex;
  width: 100%;
  height: calc(100% - 70px);
  margin-bottom: -70px;
  gap: 15px;
  flex-wrap: wrap;
}

.about{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.about > *{
  width: 100%;
}

.control{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.body-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 70px;
  /*  
    left: 50%;
    transform: translate(-50%, -50%);
  */
    width: 100%;
    height: calc(100vh - 70px);
    text-align: center;
    padding: 0 30px;
  }

  /*
  .body-text div{
    font-size: 45px;
    font-weight: 600;
  }
  */
  .colecoes, .registros{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 49%;
    height: calc(100% - 20px);
    overflow: scroll;
    min-width: 400px;
  }

  
  .colecoes select, .registros .about{
  width: 100%;
  height: 100%;
  border: solid;
  font-size: 0.7em;
  font-weight: unset;
  }

  @media screen and (max-width: 970px) {
   
    .colecoes{
      width: 100%;
      height: 150px;
    }

    .registros{
      width: 100%;
/*      height: calc(100% - 220px);*/
    }

    .files{
      margin-bottom: unset;
      height: unset;
    }

  }