<title>Selecione o Objeto</title>
<template>
    <style></style>

    <table id="tblObject"></table>


</template>
<script>

    const forms = document.querySelectorAll(`#add_object`)
    const local_form = forms[forms.length-1]
    const local_data = main_data[local_form.data_name]

    console.log(local_data)

    function start(){
//        local_data.hasOwnProperty('objects') ? fillTable(local_data.objects) : loadObjects()
    }
/*
    function loadObjects(){
        loadFile('/../files/config/category.json')
        .then( text => {
            try{
                local_data.objects = JSON.parse(text)
                fillTable(local_data.objects,'#tblCategorias')

            }catch{
                console.log('Arquivo de categorias não encontrado!')
            }
        })
    }
*/

    function fillTable(obj){
        const tbl =  local_form.querySelector('#tblObject')
        tbl.innerHTML = ''
        for(let i=0; i<obj.length; i++){
            const tr = document.createElement('tr')
            tr.data = obj[i]
            tbl.appendChild(tr)

            const td = document.createElement('td')
            td.innerHTML = obj[i].name
            tr.appendChild(td)
        }
    }

    local_form.querySelector('#tblObject').addEventListener('click',(e)=>{
        const data = e.target.tagName=='TD'? e.target.parentNode.data : e.target.tagName=='TR' ? e.target.data : 0
        if(data){
            const name = prompt('Digite um nome para o campo:',data.name)
            if(name!=null){
                const obj = new Object
                obj.name = name
                obj.type = data.name
                obj.kind = 'object'
                if(local_data.hasOwnProperty('index')){
                    local_data.objects[local_data.index].fields.push(obj)
                    local_data.callback(local_data.objects[local_data.index].fields)
                }else{
                    local_data.callback(data)
                }
                closeWindow('add_object')
            }
        }
    })

    start()

</script>