<title>Selecione o Objeto</title>
<template>
    <style></style>

    <table id="tblObject"></table>


</template>
<script>

    const forms = document.querySelectorAll(`#add_object`)
    const local_form = forms[forms.length-1]
    const local_data = main_data[local_form.data_name]

    console.log(local_data)

    function start(){
        fillTable(main_data.objects,'#tblObject')
    }

    function fillTable(arr,id_table){
        const tbl = local_form.querySelector(id_table)
        tbl.innerHTML = ''
        for (const [key, value] of Object.entries(arr)) {
            const tr = document.createElement('tr')
            tr.data =  new Object
            tr.data.key = key
            tr.data.value = value
            tbl.appendChild(tr)
            
            const td = document.createElement('td')
            td.innerHTML = key
            tr.appendChild(td)
        }
    }

    local_form.querySelector('#tblObject').addEventListener('click',(e)=>{
        const target = e.target.tagName=='TD'? e.target.parentNode : e.target
        const data = target.data
        if(data){
            const name = prompt('Digite um nome para o campo:',data.name)
            if(name!=null){
                const obj = new Object
                obj.type = data.key
                obj.kind = 'object'
                main_data.objects[local_data.key].fields[name]=obj
                local_data.callback(main_data.objects[local_data.key].fields)
                closeWindow('add_object')
            }
        }
    })

    start()

</script>