<title>Load File</title>
<template>
    <style></style>

    <fieldset>
        <legend>Selecione o arquivo</legend>
        <input  name="up_file" id="up_file" type="file">
    </fieldset>

</template>
<script>

    const local_form = document.querySelector('#load_file')
    const local_data = main_data.load_file

    function start(){
        try{
            local_form.querySelector('#up_file').accept = local_data.accept
        }catch{
            local_form.querySelector('#up_file').accept = ''
        }
    }

    local_form.querySelector('#up_file').addEventListener('change',(e)=>{
        try{
            local_data.callback(e.target.files[0])
            closeWindow('load_file')
        }catch{
            console.error('Not set callback function.')
        }
    })

    start()

</script>