<title>Selecione o Objeto</title>
<template>
    <style></style>

    <table id="tblObject"></table>


</template>
<script>

    const forms = document.querySelectorAll(`#new_object`)
    const local_form = forms[forms.length-1]
    const local_data = main_data[local_form.data_name]

    function start(){
        fillTable(main_data.objects,'#tblObject')
    }

    function fillTable(arr,id_table){
        const tbl = local_form.querySelector(id_table)
        tbl.innerHTML = ''
        for (const [key, value] of Object.entries(arr)) {
            const tr = document.createElement('tr')
            tr.data =  new Object
            tr.data.key = key
            tr.data.value = value
            tbl.appendChild(tr)
            
            const td = document.createElement('td')
            td.innerHTML = key
            tr.appendChild(td)
        }
    }

    local_form.querySelector('#tblObject').addEventListener('click',(e)=>{
        const target = e.target.tagName=='TD'? e.target.parentNode : e.target
        const data = target.data
        if(data){
            const name = prompt('Digite um nome para o campo:',data.name)
            if(name!=null){
                const out = new Object
                out.name = name
                out.new = 1
                out.type = data.key
                out.kind = 'object'
                out.callname = name
                out.default = new Object
                out.default.categoria = data.key
                out.default.fields = main_data.objects[data.key].fields
                out.default.name = name
                out.default.registers = []
                out.parameters = new Object
                out.del = 0
                out.up = 0
                local_data.callback(out)
                closeWindow('new_object')
            }
        }
    })

    start()

</script>