<title>Novo Campo</title>
<template>
    <style>
        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            height: 100%;
        }

        .line label:nth-child(1){
            min-width: 60px;
            text-align: end;
        }

        .line select, .line input, .line textarea{
            min-width: 300px;
            padding: 5px;
            font-size: 0.8em;
            resize: none;
        }


    </style>

    <div class="form">
        <div class="line">
            <label for="edtNome">Nome:</label>
            <input type="text" id="edtNome">
        </div>
        <div class="line">
            <label for="edtDefault">Padrão:</label>
            <textarea id="edtDefault" rows="5"></textarea>

        </div>
        <div class="line">
            <label for="cmbKind">Tipo:</label>
            <select id="cmbKind">
                <option value="text" default="">Texto</option>
                <option value="numeric" default="0">Numérico</option>
                <option value="decimal" default="0.0">Decimal</option>
                <option value="textarea" default="">Texto Longo</option>
                <option value="date" default="">Data</option>
                <option value="url" default="">URL</option>
            </select>
        </div>
        <div class="line">
            <button id="btndel">Deletar</button>
            <button id="btnAdd">Salvar</button>
        </div>
    </div>


</template>
<script>

    const local_form = document.querySelector('#new_field')
    const local_data = main_data.new_field
    const index = findColecao(local_data.register)
    const newField = local_data.data == null

    if(!newField){
        const fullfield = local_data.data.name.split(',')
        local_form.querySelector('#edtNome').value = fullfield[fullfield.length==1 ? 0 : 1]
        local_form.querySelector('#edtDefault').value = local_data.data.default
        local_form.querySelector('#cmbKind').value = local_data.data.kind
    }else{
        local_form.querySelector('#btndel').disabled = 1
    }

    function saveField(){
        editColecao(index,'values',main_data.colecoes[index].values)
        .then(()=>{
            editColecao(index,'fields',main_data.colecoes[index].fields)
            closeWindow('new_field')
        })
    }

    local_form.querySelector('#btnAdd').addEventListener('click',()=>{
        const field = new Object
        field.name = local_form.querySelector('#edtNome').value
        field.default = local_form.querySelector('#edtDefault').value
        field.kind = local_form.querySelector('#cmbKind').value
        if(newField){
            local_data.register.fields.push(field)
            for(let i=0; i<local_data.register.values.length; i++){
                local_data.register.values[i][`${field.kind},${field.name}`] = field.default
            }
        }else{    
            const key = `${local_data.data.kind},${local_data.data.name}`
            local_data.register.fields.push(field)
            let i = local_data.register.fields.findIndex(p => p.name == local_data.data.name)
            local_data.register.fields.splice(i,1)
            for(let i=0; i<local_data.register.values.length; i++){     
                console.log(local_data.register.values[i][key])           
                local_data.register.values[i][`${field.kind},${field.name}`] = local_data.register.values[i][key]
                delete(local_data.register.values[i][key])
            }
            
        }
        saveField()
    })

    document.querySelector('#btndel').addEventListener('click',()=>{
        if(confirm('A remoção deste campo implica na perda de todos os dados referentes nos registros. Deseja continuar?')){
            let i = local_data.register.fields.findIndex(p => p.name == local_data.data.name)
            local_data.register.fields.splice(i,1)
            for(i=0; i<local_data.register.values.length; i++){ 
                delete(local_data.register.values[local_data.data.name])
            }
            saveField()
        }
    })


</script>