<title>Estrutura de Objetos</title>
<template>
    <style>

        table{
            height: 100px;
            display: block;
        }

        tr{
            display: flex;
        }

        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        .line{
            justify-content: center;
        }

    </style>

    <div class="form">

        <fieldset>
            <legend>Objetos</legend>
            <table id="tblObjetos"></table>
            <div class="line">
                <button id="btnDelObj" title="Deletar Objeto">Deletar</button>
                <button id="btnNewObj" title="Novo Objeto">Novo</button>
                <button id="btnImport" title="Importar Objeto">Importar</button>
                <button id="btnExport" title="Exportar Objeto">Exportar</button>
            </div>
        </fieldset>

        <fieldset>
            <legend>Campos</legend>
            <table id="tblFields"></table>
            <div class="line">
                <button id="btnAddField" title="Novo Campo">Novo</button>
                <button id="btnAddObject" title="Adicionar Objeto">Adicionar Objeto</button>
            </div>
        </fieldset>
    </div>


</template>
<script>
    const forms = document.querySelectorAll(`#view_object`)
    const local_form = forms[forms.length-1]
    const local_data = main_data[local_form.data_name]

    function start(){
        fillTable(main_data.objects,'#tblObjetos')
    }
    
    function fillTable(arr,id_table){
        const tbl = local_form.querySelector(id_table)
        tbl.innerHTML = ''
        for (const [key, value] of Object.entries(arr)) {
            const tr = document.createElement('tr')
            tr.data = new Object
            tr.data.key = key
            tr.data.value = value
            tbl.appendChild(tr)
            const td = document.createElement('td')
            td.innerHTML = key
            tr.appendChild(td)
            if(id_table=='#tblObjetos'){
                fillTable(tr.data.value.fields,'#tblFields')
            }
        }
    }

    local_form.querySelector('#btnNewObj').addEventListener('click',()=>{
        const name = prompt('Nome do Objeto:')
        if(name!=null){
            if(!main_data.objects.hasOwnProperty(name)){
                main_data.objects[name] = new Object
                main_data.objects[name].fields = new Object
                saveFile(main_data.objects,'/../../roseta_files/config/','object.json')
                .then(()=>{
                    fillTable(main_data.objects,'#tblObjetos')
                })
            }else{
                alert(`A categoria ${name} já existe, digite outro nome.`)
            }
        }
    })

    function markLine(line,data={}){     
        const rows = line.parentNode.rows
        for(let i=0; i<rows.length; i++){
            rows[i].classList.remove('mark')
        }
        line.classList.add('mark')
        local_data.data = data
    }

    function callback(response){
        const fields = main_data.objects[local_data.data.key].fields
        if(response.up){
            main_data.objects[local_data.data.key].fields = bubble_obj(fields,response.callname)
        }else if(response.del){
            delete(fields[response.callname])
        }else{
            fields[response.name] = new Object
            fields[response.name].default = response.default
            fields[response.name].kind = response.kind
            fields[response.name].parameters = response.parameters
            fields[response.name].type = response.hasOwnProperty('type') ? response.type : response.kind
            if(response.name != response.callname){
                main_data.objects[local_data.data.key].fields = position_obj(fields,response.name,response.callname)
                delete(main_data.objects[local_data.data.key].fields[response.callname])
            }
        }
        fillTable(main_data.objects[local_data.data.key].fields,'#tblFields')
        saveFile(main_data.objects,'/../../roseta_files/config/','object.json')
    }

    local_form.querySelector('#tblObjetos').addEventListener('click',(e)=>{
        const target = e.target.tagName=='TD'? e.target.parentNode : e.target
        const data = target.data
        if(data){
            markLine(target,data)
            fillTable(data.value.fields,'#tblFields')
        }
    })

    local_form.querySelector('#btnDelObj').addEventListener('click',()=>{
        if(local_data.hasOwnProperty('data')){            
            const data = main_data.objects[local_data.data.key]
            if(data){
                if(confirm(`                    ATENÇÂO\n\r\nEsta operação é irreversível!\n\nDeseja deletar o objeto ${local_data.data.key}?`)){
                    delete(main_data.objects[local_data.data.key])
//                    target.remove()
//                    local_form.querySelector('#tblFields').innerHTML = ''
                    saveFile(main_data.objects,'/../../roseta_files/config/','object.json')
                    .then(()=>{
                        fillTable(main_data.objects,'#tblObjetos')
                    })
                }
            }
        }
    })

    local_form.querySelector('#tblFields').addEventListener('click',(e)=>{
        const target = e.target.tagName=='TD'? e.target.parentNode : e.target
        const data = target.data
        if(data){
            const param = new Object
            param.key = data.key
            param.value = data.value
            param.new = 0
            param.callback = callback
            openHTML('new_field',param,[500,0])
        }
    })

    local_form.querySelector('#btnAddField').addEventListener('click',()=>{
        if(local_data.hasOwnProperty('data')){
            try{
                const param = new Object
                param.new = 1
                param.callback = callback
                openHTML('new_field',param,[500,0])
            }catch{}
        }
    })

    local_form.querySelector('#btnAddObject').addEventListener('click',()=>{
        if(local_data.hasOwnProperty('data')){
            try{
                const param = new Object
                param.callback = (response)=>{
                    const fields = main_data.objects[local_data.data.key].fields
                    fields[response.name] = new Object
                    fields[response.name].kind = response.kind
                    fields[response.name].parameters = response.parameters
                    fields[response.name].type = response.hasOwnProperty('type') ? response.type : response.kind
                    fillTable(main_data.objects[local_data.data.key].fields,'#tblFields')
                    saveFile(main_data.objects,'/../../roseta_files/config/','object.json')
                }
                openHTML('new_object',param,[500,0])
            }catch{}
        }
    })

    local_form.querySelector('#btnImport').addEventListener('click',()=>{
        const file = document.createElement('input')
        file.type = 'file'
        file.accept = '.json'
        file.click()
        file.addEventListener('change',(e)=>{
            const reader = new FileReader()
            reader.onload = (e) => {
                const json = JSON.parse(e.target.result)
                if(json.hasOwnProperty('objeto') && json.hasOwnProperty('campos') && Array.isArray(json.campos)){
                    let name = json.objeto
                    let i = 0
                    while(main_data.objects.hasOwnProperty(name)){
                        i++
                        name = json.objeto+'_'+i
                    }

                    main_data.objects[name] = new Object
                    main_data.objects[name].fields = new Object
                    for(let i=0; i<json.campos.length; i++){
                        if(json.campos[i].hasOwnProperty('nome')){
                            const parameters = new Object
                            for (const [key, value] of Object.entries(json.campos[i])) {
                                if(!['nome','tipo','padrao'].includes(key)){
                                    parameters[key.toLowerCase().trim()] = value
                                }
                            }
                            main_data.objects[name].fields[json.campos[i].nome] = new Object
                            main_data.objects[name].fields[json.campos[i].nome].default = json.campos[i].hasOwnProperty('padrao')? json.campos[i].padrao : ''
                            main_data.objects[name].fields[json.campos[i].nome].kind = json.campos[i].hasOwnProperty('tipo')? json.campos[i].tipo : 'text'
                            main_data.objects[name].fields[json.campos[i].nome].parameters = parameters
                            main_data.objects[name].fields[json.campos[i].nome].type = main_data.objects[name].fields[json.campos[i].nome].kind
                        }
                    }
                    saveFile(main_data.objects,'/../../roseta_files/config/','object.json')
                    .then(()=>{
                        fillTable(main_data.objects,'#tblObjetos')
                    })

                }else{
                    alert('Arquivo json não esta em um formato válido.')
                }


            }
            reader.readAsText(e.target.files[0])
        })

    })

    local_form.querySelector('#btnExport').addEventListener('click',()=>{
        const out = new Object
        out.objeto = local_data.data.key
        out.campos = []
        for (const [key, value] of Object.entries(main_data.objects[local_data.data.key].fields)) {
            const field = new Object
            field.nome = key
            field.tipo = value.kind
            if(value.kind=='object'){
                console.log(value.kind)                            
                field.objeto = value.type
            }
            field.padrao = value.default
            for (const [f_key, f_value] of Object.entries(value.parameters)) {
                field[f_key] = f_value
            }
            out.campos.push(field)
        }
        saveBinaryFile(JSON.stringify(out),out.objeto+'.json')        
    })

    start()

</script>