<title id="page-title"></title>
<template>
    <style>
        .hide{
            display: none;
        }

        img{
            width: 100%;
        }

        label{
            cursor: pointer;
        }

        /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
        }

        #edt-goto{
            width: 55px;
            text-align: center;
        }

        .range{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            align-items: center;
            border-bottom: solid;
            padding-bottom: 15px;
        }

        .left{
            width:30% ;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .rigth{
            width: 67%;
            max-height: 75vh;
            overflow: scroll;
            padding-bottom: 30px;
        }

        .register{
            container-type: inline-size;
            display: flex;
            gap: 20px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 20px;
        }

        .line{
            display: flex;
            flex-direction: column;
            padding: 5px;
            border-bottom: solid 1px;
            align-items: baseline;
        }

        .line input{
            width: 100%;
            padding: 2px;
        }

        .slide-control{
            display: flex;
            justify-content: space-evenly;
        }

        .slideshow {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            height: 400px;
            width: 100%;
        }

        .slideshow img {
            position: absolute;
            width: 100%;
/*            height: 100%;*/
            object-fit: cover;
            opacity: 0;
            transition: opacity 0.5s ease-in-out; /* Suaviza a troca */
        }

        /* Apenas a imagem ativa fica visível */
        .slideshow img.active {
            opacity: 1;
        }

        .left:has(.slideshow:empty){
            display: none;
        }

        #tblRegisters tr{
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 2px;
            padding: 5px;
        }

        #tblRegisters tr > *{
            padding: 0;
        }

        @media screen and (max-width: 785px) {
            .left{
                width: 100%;
                height: 100%;
            }
            .rigth{width: 100%;}

        }

    </style>

    <div id="main">
        <div class="range">
    
            <label for="edt-goto">Registros</label>
            <div class="btn-round" id="btn-left"><span class="mdi mdi-arrow-left-bold-circle"></span></div>
            <input type="number" id="edt-goto">
            <div class="btn-round" id="btn-right"><span class="mdi mdi-arrow-right-bold-circle"></span></div>
            <div class="btn-round" id="btn-add"><span class="mdi mdi-plus-circle green"></span></div>
            <div class="btn-round" id="btn-del"><span class="mdi mdi-minus-circle red"></span></div>
            <div class="btn-round" id="btn-save"><span class="mdi mdi-content-save"></span></div>
        </div>

        <div class="register">
            <div class="left">
                <div class="slideshow"></div>
                <div class="slide-control">
                    <div class="btn-round" id="btn-img-left" ><span class="mdi mdi-arrow-left-bold-circle"></span></div>
                    <div class="btn-round" id="btn-img-right"><span class="mdi mdi-arrow-right-bold-circle"></span></div>
                </div>
            </div>
            <div class="rigth">
                <table id="tblRegisters"></table>
            </div>
        </div>
    </div>


</template>
<script>

    const forms = document.querySelectorAll(`#view_collection`)
    const local_form = forms[forms.length-1]
    const local_data = main_data[local_form.data_name]
    let index = 0

    function save(){
        saveColecao(findColecao(local_data.file))
    }

    function start(){
        local_form.querySelector('.window-title').innerHTML = local_data.categoria + ' - '+ local_data.file
        goto(index,1)
    }

    function goto(indice=1,go=0){
        if(local_data.registers.length){
            indice = go ? indice : Number(local_form.querySelector('#edt-goto').value) + indice
            indice = indice > local_data.registers.length-1 ? local_data.registers.length -1 : (indice<0 ? 0 : indice)
            local_form.querySelector('#edt-goto').value = indice
            index = Number(local_form.querySelector('#edt-goto').value)
            loadRegister()
            local_form.querySelector('.left').classList.remove('hide')
        }else{
            local_form.querySelector('#edt-goto').value = ''
            local_form.querySelector('#tblRegisters').innerHTML = ''
            local_form.querySelector('.left').classList.add('hide')
        }
    }

    function slide(side=1){
        const imgs =  local_form.querySelector('.slideshow').querySelectorAll('img')
        for(let i=0; i<imgs.length; i++){
            if(imgs[i].classList.contains('active')){
                index = side ?(i==imgs.length-1 ? 0 : i+1) : (i==0 ? imgs.length-1 : i-1)
                imgs[i].classList.remove('active')
                imgs[index].classList.add('active')
                i=imgs.length
            }
        }
    }

    function getURL(value){
        out = new Object
        out.isImg = 0
        out.isURL = 0
        out.url = ''
        try{
            if(value.includes('http')){
                out.isURL = 1
                out.url = value.split('http')
                out.url = 'http'+out.url[out.url.length-1]

                let i=out.url.length-1
                let ext = ''

                if(out.url.includes('gstatic.com/images?')){
                    out.isImg = 1
                }else{
                    while(i>0 && out.url[i]!='/'){
                        if(out.url[i]=='.' && ext.length){
                            out.isImg = ['png','jpg','jpeg','gif','bmp','svg'].includes(ext)
                            i=0
                        }else{
                            ext = out.url[i] + ext
                        }
                        i--
                    }              
                }

            }
        }catch{}
        return out
    }

    function loadRegister(){
        const reg = local_data.registers[index]
        const tbl = local_form.querySelector('#tblRegisters')
        tbl.innerHTML = ''
        const imgs = local_form.querySelector('.slideshow')
        imgs.innerHTML = ''

        for (let i=0; i<local_data.fields.length; i++) {
            const key = local_data.fields[i].name
            const value = reg[key]
            const row = document.createElement('tr')
            row.data = key
            const label = document.createElement('th')
            label.innerHTML = key
            row.appendChild(label)
            const text = document.createElement('td')
            text.innerHTML = typeof(value)!='object' ? value : 'ver detalhes...'
            row.appendChild(text)
            tbl.appendChild(row)
            const url = getURL(value)
            if(url.isImg){
                const img = document.createElement('img')
                img.src = url.url
                imgs.querySelectorAll('img').length? null : img.classList.add('active')
                imgs.appendChild(img)
            }
        }

/*        
        for (const [key, value] of Object.entries(reg)) {
            const row = document.createElement('tr')
            row.data = key
            const label = document.createElement('th')
            label.innerHTML = key
            row.appendChild(label)
            const text = document.createElement('td')
            text.innerHTML = typeof(value)!='object' ? value : 'ver detalhes...'
            row.appendChild(text)
            tbl.appendChild(row)
            const url = getURL(value)
            if(url.isImg){
                const img = document.createElement('img')
                img.src = url.url
                imgs.querySelectorAll('img').length? null : img.classList.add('active')
                imgs.appendChild(img)
            }
        }
*/
    }

    local_form.querySelector('#edt-goto').addEventListener('change',(e)=>{
        goto(Number(local_form.querySelector('#edt-goto').value),1)
    })

    local_form.querySelector('#btn-left').addEventListener('click',()=>{
        goto(-1)
    })

    local_form.querySelector('#btn-right').addEventListener('click',()=>{
        goto()
    })

    local_form.querySelector('#btn-add').addEventListener('click',()=>{

        const reg = new Object
        for(let i=0; i<local_data.fields.length; i++){
            reg[local_data.fields[i].name] = JSON.parse(JSON.stringify(local_data.fields[i].default))
        }
        local_data.registers.push(reg)
        index = local_data.registers.length-1
        goto(index,1)
    })

    local_form.querySelector('#btn-del').addEventListener('click',()=>{
        if(confirm('A remoção deste registro implica na perda de todos os dados relativos a ele. Deseja cotinuar?')){
            local_data.registers.splice(index,1)
            save()
            goto(index,1)
        }
    })

    local_form.querySelector('#btn-img-left').addEventListener('click',()=>{
        slide(0)
    })

    local_form.querySelector('#btn-img-right    ').addEventListener('click',()=>{
        slide(1)
    })

    local_form.querySelector('#tblRegisters').addEventListener('click',(e)=>{
        const target = ['TD','TH'].includes(e.target.tagName) ? e.target.parentNode : e.target.tagName=='TR' ? e.target : null
        const data = target.data
        const obj = new Object
        obj.field = local_data.fields[local_data.fields.findIndex(p => p.name == target.data)]
        obj.value = local_data.registers[index][target.data]
        obj.file = local_data.file
        obj.callback = (value)=>{
            target.querySelector('td').innerHTML = value
            local_data.registers[index][target.data] = value
            save()
        }

        if(obj.field.kind=='object'){
            openHTML('view_collection',local_data.registers[index][target.data])
        }else{
            openHTML('edit_field',obj,[500,0])
        }

    })

    local_form.querySelector('#btn-save').addEventListener('click',()=>{
        save()
    })

    start()

</script>