<title>Estrutura de Objetos</title>
<template>
    <style>

        table{
            height: 100px;
            display: block;
        }

        tr{
            display: flex;
        }

        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }        

    </style>

    <div class="form">

        <fieldset>
            <legend>Objetos</legend>
            <table id="tblCategorias"></table>
            <button id="btnNewCat">Nova Categoria</button>
        </fieldset>

        <fieldset>
            <legend>Campos</legend>
            <table id="tblFields"></table>
            <button id="btnNewField">Novo Campo</button>
            <button id="btnAddObject">Adicionar Objeto</button>
        </fieldset>
    </div>


</template>
<script>
    const forms = document.querySelectorAll(`#view_object`)
    const local_form = forms[forms.length-1]
    const local_data = main_data[local_form.data_name]

    local_data.objects = []
    let index = -1

    function start(){
        loadObjects()
    }

    function fillTable(arr,id_table){
        const tbl = local_form.querySelector(id_table)
        tbl.innerHTML = ''
        for(let i=0; i<arr.length; i++){
            const tr = document.createElement('tr')
            tr.data = arr[i]
            tbl.appendChild(tr)
            
            const td = document.createElement('td')
            td.innerHTML = arr[i].name
            tr.appendChild(td)
        }
    }

    function loadObjects(){
        loadFile('/../files/config/category.json')
        .then( text => {
            try{
                local_data.objects = JSON.parse(text)
                fillTable(local_data.objects,'#tblCategorias')

            }catch{
                console.log('Arquivo de categorias não encontrado!')
            }
        })
    }

    function markLine(id_table,line){
        const rows = local_form.querySelector(`#${id_table}`).rows        
        for(let i=0; i<rows.length; i++){            
            i==line ? rows[i].classList.add('mark') : rows[i].classList.remove('mark')
        }
    }

    function addField(fields){
        fillTable(fields,'#tblFields')
        saveFile(local_data.objects,'/../files/config/','category.json')
    }

    local_form.querySelector('#btnNewField').addEventListener('click',()=>{
        try{
            const param = new Object               
            param.index = -1
            param.fields = local_data.objects[index].fields
            param.callback = addField
            openHTML('new_field',param,[500,0])

        }catch{}
    })

    local_form.querySelector('#btnNewCat').addEventListener('click',()=>{
        const name = prompt('Nome da categoria')
        if(name!=null){
            const index = local_data.objects.findIndex(p => p.name == name)
            if(index <0){
                const nw = new Object
                nw.name = name
                nw.fields = []
                local_data.objects.push(nw)
                saveFile(local_data.objects,'/../files/config/','category.json')
                .then(()=>{
                    fillTable(local_data.objects,'#tblCategorias')
                })
            }else{
                alert(`A categoria ${name} já existe, digite outro nome.`)
            }
        }
    })

    local_form.querySelector('#tblCategorias').addEventListener('click',(e)=>{
        const data = e.target.tagName=='TD'? e.target.parentNode.data : e.target.tagName=='TR' ? e.target.data : 0
        if(data){
            index = local_data.objects.findIndex(p => p.name == data.name)
            markLine('tblCategorias',index)
            fillTable(local_data.objects[index].fields,'#tblFields')
        }
    })

    local_form.querySelector('#tblCategorias').addEventListener('dblclick',(e)=>{                
        const data = e.target.tagName=='TD'? e.target.parentNode.data : e.target.tagName=='TR' ? e.target.data : 0
        if(data){
            const index = local_data.objects.findIndex(p => p.name == data.name)
            if(index >=0){
                if(confirm(`Deseja deletar a categoria ${local_data.objects[index].name}?`)){
                    local_data.objects.splice(index,1)
                    document.querySelector('#tblCategorias').rows[index].remove()
                    saveFile(local_data.objects,'/../files/config/','category.json')
                }
            }
        }
    })

    local_form.querySelector('#tblFields').addEventListener('click',(e)=>{
        const data = e.target.tagName=='TD'? e.target.parentNode.data : e.target.tagName=='TR' ? e.target.data : 0
        if(data){
            const param = new Object
            param.fields = local_data.objects[index].fields
            param.index = local_data.objects[index].fields.findIndex(p => p.name == data.name)
            param.callback = addField
            if(param.index>=0){
                openHTML('new_field',param,[500,0])
            }
        }
    })

    local_form.querySelector('#btnAddObject').addEventListener('click',()=>{
        try{
            const param = new Object               
            param.index = index
            param.objects = local_data.objects
            param.callback = addField
            openHTML('add_object',param,[500,0])

        }catch{}
    })

    start()

</script>