<title>Estrutura de Objetos</title>
<template>
    <style>

        table{
            height: 100px;
            display: block;
        }

        tr{
            display: flex;
        }

        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }        

    </style>

    <div class="form">

        <fieldset>
            <legend>Objetos</legend>
            <table id="tblObjetos"></table>
            <button id="btnNewObj">Novo Objeto</button>
        </fieldset>

        <fieldset>
            <legend>Campos</legend>
            <table id="tblFields"></table>
            <button id="btnAddField">Novo Campo</button>
            <button id="btnAddObject">Adicionar Objeto</button>
        </fieldset>
    </div>


</template>
<script>
    const forms = document.querySelectorAll(`#view_object`)
    const local_form = forms[forms.length-1]
    const local_data = main_data[local_form.data_name]

    function start(){
        fillTable(main_data.objects,'#tblObjetos')
    }
    
    function fillTable(arr,id_table){
        const tbl = local_form.querySelector(id_table)
        tbl.innerHTML = ''
        for (const [key, value] of Object.entries(arr)) {
            const tr = document.createElement('tr')
            tr.data = new Object
            tr.data.key = key
            tr.data.value = value
            tbl.appendChild(tr)
            const td = document.createElement('td')
            td.innerHTML = key
            tr.appendChild(td)
        }
    }

    local_form.querySelector('#btnNewObj').addEventListener('click',()=>{
        const name = prompt('Nome do Objeto:')
        if(name!=null){
            if(!main_data.objects.hasOwnProperty(name)){
                main_data.objects[name] = new Object
                main_data.objects[name].fields = new Object
                saveFile(main_data.objects,'/../files/config/','object.json')
                .then(()=>{
                    fillTable(main_data.objects,'#tblObjetos')
                })
            }else{
                alert(`A categoria ${name} já existe, digite outro nome.`)
            }
        }
    })

    function markLine(line,data={}){
        const rows = line.parentNode.rows
        for(let i=0; i<rows.length; i++){
            rows[i].classList.remove('mark')
        }
        line.classList.add('mark')
        local_data.data = data
    }

    function callback(response){
        const fields = main_data.objects[local_data.data.key].fields
        if(response.up){
            main_data.objects[local_data.data.key].fields = bubble_obj(fields,response.callname)
        }else if(response.del){
            delete(fields[response.callname])
        }else{
            fields[response.name] = new Object
            fields[response.name].default = response.default
            fields[response.name].kind = response.kind
            fields[response.name].parameters = response.parameters
            fields[response.name].type = response.hasOwnProperty('type') ? response.type : response.kind
            if(response.name != response.callname){
                main_data.objects[local_data.data.key].fields = position_obj(fields,response.name,response.callname)
                delete(main_data.objects[local_data.data.key].fields[response.callname])
            }
        }
        fillTable(main_data.objects[local_data.data.key].fields,'#tblFields')
        saveFile(main_data.objects,'/../files/config/','object.json')
    }

    local_form.querySelector('#tblObjetos').addEventListener('click',(e)=>{
        const target = e.target.tagName=='TD'? e.target.parentNode : e.target
        const data = target.data
        if(data){
            markLine(target,data)
            fillTable(data.value.fields,'#tblFields')
        }
    })

    local_form.querySelector('#tblObjetos').addEventListener('dblclick',(e)=>{
        const target = e.target.tagName=='TD'? e.target.parentNode : e.target
        const data = target.data
        if(data){
            if(confirm(`Deseja deletar este Objeto? ${data.key}?`)){
                delete(main_data.objects[data.key])
                target.remove()
                local_form.querySelector('#tblFields').innerHTML = ''
                saveFile(main_data.objects,'/../files/config/','object.json')
            }
        }
    })

    local_form.querySelector('#tblFields').addEventListener('click',(e)=>{
        const target = e.target.tagName=='TD'? e.target.parentNode : e.target
        const data = target.data
        if(data){
            const param = new Object
            param.key = data.key
            param.value = data.value
            param.new = 0
            param.callback = callback
            openHTML('new_field',param,[500,0])
        }
    })

    local_form.querySelector('#btnAddField').addEventListener('click',()=>{
        if(local_data.hasOwnProperty('data')){
            try{
                const param = new Object
                param.new = 1
                param.callback = callback
                openHTML('new_field',param,[500,0])
            }catch{}
        }
    })

    local_form.querySelector('#btnAddObject').addEventListener('click',()=>{
        if(local_data.hasOwnProperty('data')){
            try{
                const param = new Object
                param.callback = (response)=>{
                    const fields = main_data.objects[local_data.data.key].fields
                    fields[response.name] = new Object
                    fields[response.name].kind = response.kind
                    fields[response.name].parameters = response.parameters
                    fields[response.name].type = response.hasOwnProperty('type') ? response.type : response.kind
                    fillTable(main_data.objects[local_data.data.key].fields,'#tblFields')
                    saveFile(main_data.objects,'/../files/config/','object.json')
                }
                openHTML('new_object',param,[500,0])
            }catch{}
        }
    })

    start()

</script>