<title>Categorias de Coleção</title>
<template>
    <style>

        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }        

    </style>

    <div class="form">

        <fieldset>
            <legend>Categorias</legend>
            <table id="tblCategorias"></table>
            <button id="btnNewCat">Nova Categoria</button>
        </fieldset>

        <fieldset>
            <legend>Campos</legend>
            <select id="cmbFields" size="10"></select>
            <button id="btnNewField">Novo Campo</button>
        </fieldset>
        <button id="btnSave">Salvar</button>
    </div>


</template>
<script>
    const local_form = document.querySelector('#view_category')
    const local_data = main_data.view_category
    local_data.newCategory = local_data.data == null
    local_data.categories = []
    local_data.fields = []
    let index = -1

    function start(){
        loadCategory()
    }

    function fillTable(arr){
        const tbl = local_form.querySelector('#tblCategorias')
        tbl.innerHTML = ''
        for(let i=0; i<arr.length; i++){
            const tr = document.createElement('tr')
            tr.data = arr[i]
            tbl.appendChild(tr)
            
            const td = document.createElement('td')
            td.innerHTML = arr[i].name
            tr.appendChild(td)
        }
    }

    function fillFields(index){
        const fields = local_form.querySelector('#cmbFields')
        fields.innerHTML = ''
        for(let i=0; i<local_data.categories[index].fields.length; i++){
            const opt = document.createElement('option')
            opt.innerHTML = local_data.categories[index].fields[i].name
            opt.value = local_data.categories[index].fields[i].name
            fields.appendChild(opt)
        }
    }

    function loadCategory(){
        loadFile('/../files/config/category.json')
        .then( text => {
            try{
                local_data.categories = JSON.parse(text)
                fillTable(local_data.categories)

                if(local_data.newCategory){

                }else{
                    index = local_data.categories.findIndex(p => p.name == local_data.data.name)
                }
            }catch{
                console.log('Arquivo de categorias não encontrado!')
            }
        })
    }

    local_form.querySelector('#btnNewField').addEventListener('click',()=>{
        const obj = new Object
        obj.register = []
        obj.fields = []        
        obj.data = null
        openHTML('new_field_def',obj,[500,280])
    })

    local_form.querySelector('#btnNewCat').addEventListener('click',()=>{
        const name = prompt('Nome da categoria')
        if(name!=null){
            index = local_data.categories.findIndex(p => p.name == name)
            if(index <0){
                const nw = new Object
                nw.name = name
                nw.fields = local_data.fields
                local_data.categories.push(nw)
                saveFile(local_data.categories,'/../files/config/','category.json')
                .then(()=>{
                    fillTable(local_data.categories)
                })
            }else{
                alert(`A categoria ${name} já existe, digite outro nome.`)
            }
        }
    })

    local_form.querySelector('#tblCategorias').addEventListener('click',(e)=>{

        console.log(e.target.rowIndex)

//        fillFields(e.target.index)
    })

    local_form.querySelector('#tblCategorias').addEventListener('dblclick',(e)=>{        
        const index = e.target.rowIndex
        if(confirm(`Deseja deletar a categoria ${local_data.categories[index].name}?`)){
            local_data.categories.splice(index,1)
            document.querySelector('#tblCategorias').rows[index].remove()
            saveFile(local_data.categories,'/../files/config/','category.json')
        }
    })

    start()

</script>