<title>Padrões de Dados</title>
<template>
    <style></style>

    <fieldset>
        <legend>Padrões</legend>
        <table id="tblPadroes"></table>
        <button id="btnNewPad">Novo Padrão</button>
    </fieldset>


</template>
<script>
    const forms = document.querySelectorAll(`#view_defaults`)
    const local_form = forms[forms.length-1]
    const local_data = main_data[local_form.data_name]

    function start(){
        loadDefaults()
    }

    function loadDefaults(){
        loadFile('/../files/config/defaults.json')
        .then( text => {
            try{
                local_data.defaults = JSON.parse(text)
                fillTable(local_data.defaults)

                if(local_data.newCategory){

                }else{
                    index = local_data.defaults.findIndex(p => p.name == local_data.data.name)
                }
            }catch{
                console.log('Arquivo de padrões não encontrado!')
            }
        })
    }

    function fillTable(obj){
        const tbl = local_form.querySelector('#tblPadroes')
        tbl.innerHTML = ''
        for (const [key, value] of Object.entries(obj)) {
//        for(let i=0; i<arr.length; i++){
            const tr = document.createElement('tr')
            tr.data = value
            tr.name = key
            tbl.appendChild(tr)
            
            const td = document.createElement('td')
            td.innerHTML = key
            tr.appendChild(td)
        }
    }

    local_form.querySelector('#btnNewPad').addEventListener('click',()=>{
        const name = prompt('Nome do novo padrão:')
        if(name!=null){
            if(!local_data.defaults.hasOwnProperty(name)){
                const nw = new Object
                nw.name = name
                nw.site = ''
                local_data.defaults[name] = nw
                saveFile(local_data.defaults,'/../files/config/','defaults.json')
                .then(()=>{
                    fillTable(local_data.defaults)
                })
            }else{
                alert(`O padrão ${name} já existe, digite outro nome.`)
            }
        }
    })

    local_form.querySelector('#tblPadroes').addEventListener('dblclick',(e)=>{
        const data = e.target.data
        if(confirm(`Deseja deletar o padrão ${e.target.name}?`)){
            delete(local_data.defaults[e.target.name])
            e.target.remove()
            saveFile(local_data.defaults,'/../files/config/','defaults.json')
        }
    })

    start()

</script>